<div class="row" id ="center-horizontal">
  <div class="col s3">
    <!--filler -->
  </div>
    <% if current_user %>
      <div class="input-field col s6 z-depth-5">
        <i class="material-icons prefix">search</i>
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix">Search</label>
      </div>
    <% end %>
  <div class="col s3">
    <!-- filler -->
  </div>
</div>
