<body>
  <div class="welcome-background">
    <%= render "layouts/navbar" %>
    <div class="row">
      <div class="col l3 right login-button">
        <a href="/auth/spotify"><img src="assets/log_in-desktop-large.png"/></a>
      </div>
    </div>
  </div>
</body>
