
i.large.material-icons {
  opacity: 0.7;
}

.nav-wrapper{
  padding: 30px 50px;
  a{
    color:$primary-color;
  }
  li:hover{
    background-color: rgba(255,255,255,0.0);
  }
  a:hover{
    color: rgba(255,255,255,0.9);
  }
}
