<body>
  <%= render "layouts/navbar" %>
  <div class="row ">
    <div class="col m9 filler">
    </div>
    <div class="col m3 text-white">
      Logged in as:  <%= current_user.name %>
    </div>
  </div>
  <div class="row">

    <div class="col m9 s12">
      <ul class="collection">
        <% current_user.playlists.each do |playlist|%>
        <li class="collection-item avatar">
          <img src="images/yuna.jpg" alt="" class="circle">
          <span class="title"> <%= playlist.name.titleize %> </span>
          <p> <%= playlist.owner %> <br>
             external playlist
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
        <% end  %>
      </ul>
    </div>
  </div>
</body>
