<body>
  <%= render "layouts/navbar" %>
  <div class="row ">
    <div class="col m9 filler">
    </div>
    <div class="col m3 text-white">
      Logged in as:  <%= current_user.name %>
    </div>
  </div>

  <div class="row left">
    <%= react_component "PlaylistCollection" %>
    <%= @sc.get_song_analysis("beatles", "hey jude") %>
  </div>
</body>
