<body>
  <%= render "layouts/navbar" %>
  <div class="row ">
    <div class="col m9 filler">
    </div>
    <div class="col m3 text-white">
      Logged in as:  <%= current_user.name %>
    </div>
  </div>
  <div class="row">
    <div class="col m6 left">
      <%= react_component "PlaylistCollection" %>
    </div>
    <div id="chart" class="col m6"></div>
  </div>
</body>
