<nav class="transparent z-depth-0">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="sass.html">Mashy</a></li>
    </ul>
    <a href="#" class="brand-logo left">
      <i class="large material-icons">code</i>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <% if current_user %>
          <%= link_to 'Logout', logout_path %>
        <% else %>
          <%= link_to 'Sign in with Spotify', '/auth/spotify' %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
